
extends layout
block content 
    section.companyInfoHeader
        div.companyImage
    section.companyInfo 
        div.container
            div.row
                div.col-lg-12.col-md-12
                    h3 About
                    div.row
                        div.col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1
                            p.companyDescription With over 35 years' experience monitoring the world’s major exporters, Petro-Logistics sheds light in hard to see corners of the oil market. Our global network of sources and team of experienced analysts bring unprecedented clarity to otherwise opaque crude oil trade flows, with a focus on OPEC, Russia/FSU and other Middle East and African producers. 
                            p.companyDescription Daniel and Mark Gerber have built on the foundations established by their late father and Petro-Logistics’ founder, 
                                a.underline(href="/history") Conrad Gerber
                                | , who pioneered the art and science of tanker tracking. 
                            p.companyDescription From their offices in Geneva and Houston, the brothers continue to evolve and innovate at the cutting edge of the industry, coordinating a global network of sources and a developed team of analysts to shed light in hard to see corners of the oil market
    section.teamInfo
        div.teamHeading
            div.teamBanner
                h1 meet the leadership team
        div.container.teamMembers
            div.row.nomargin
                div.col-lg-6.col-md-6.teamMember
                    div.inner-container
                        div.row
                            div.col-lg-12.col-md-12
                                div.teamImgContainer
                                    div.teamImg1
                        div.row.team-row
                            div.col-lg-12.col-md-12.team-member-stats
                                h3 Mark Gerber
                                p.team-subheading President
                                p.team-member-description Trained as a mechanical engineer, Mark joined Petro-Logistics in April 2009 and has been intimately involved in the expansion of Petro-Logistics' services on Russia and the Former Soviet Union. Marks heads up the development of Petro-Logistics' operational processes. In 2015, Mark opened a subsidiary in Houston, Texas giving the company an intercontinental presence 
                div.col-lg-6.col-md-6.teamMember
                    div.inner-container
                        div.row
                            div.col-lg-12.col-md-12
                                 div.teamImgContainer
                                    div.teamImg2
                        div.row.team-row
                            div.col-lg-12.col-md-12.team-member-stats
                                h3 Daniel Gerber
                                p.team-subheading CEO
                                p.team-member-description Daniel joined Petro-Logistics in April 2009 after studying International Business at Georgetown University. Daniel overseas the company's OPEC analysis and heads up the development of clients and sources globally. He has made presentations to conferences and round-tables across Europe and Southern Africa
            div.row.nomargin
                div.col-lg-6.col-md-6.teamMember
                    div.inner-container
                        div.row
                            div.col-lg-12.col-md-12
                                div.teamImgContainer
                                    div.teamImg3
                        div.row.team-row
                            div.col-lg-12.col-md-12.team-member-stats
                                h3 Adam Ritchie
                                p.team-subheading Director
                                p.team-member-description A renowned energy economist and strategist, Adam joined the Board of Petro-Logistics in 2016. He is former Head of Strategy and Chief Economist for Shell Trading and Head of Oil and Chemical Markets Analysis for Shell International with more than twenty years experience in the industry.  Adam is also Founder of 
                                    a.underline(href="#") AR Oil Consulting 
                                    | and Lead Energy Contributor for 
                                    a.underline(href="#") MacroGeo 
                div.col-lg-6.col-md-6.teamMember
                    div.inner-container
                        div.row
                            div.col-lg-12.col-md-12
                                div.teamImgContainer
                                    div.teamImg4
                        div.row.team-row
                            div.col-lg-12.col-md-12.team-member-stats
                                h3 Jacquie Sutter
                                p.team-subheading Head of Analytics
                                p.team-member-description Petro-Logistics' Head of Analysis and the matriarch of the team with over thirty years of experience, Jacquie has a deep understanding of the maritime industry. Having worked alongside Conrad Gerber for 27 years, Jacquie has tracked oil trade flows through the major geopolitical events of the past three decades. Jacquie ensures the integrity of the teams' expansive coverage and works closely with both the President and CEO

    section.trialBtn
        div.container
            div.row
                div.col-lg-12.col-md-12
                    div.trialBtnContainer
                        a.btn.btn-default.req(href="/contact") request trial
            
        include footer