
footer
    div.container
        div.row
            div.col-lg-7.col-md-6.col-sm-6.col-xs-12
                span © 2016 Petro-Logistics S.A.
            div.col-lg-2.col-md-2.col-sm-2.col-xs-12
                a Privacy Policy
            div.col-lg-2.col-md-3.col-sm-3.col-xs-12
                a Terms and Conditions 
