
extends layout
block content
    section.historyHeader
        div.historyImage
    section.historyContent
        div.container
            div.row
                div.col-lg-12.col-md-12
                    div.row.historyContentWrap
                        div.col-lg-4.col-md-5
                            div.historyPhotoContainer.contentBox.whiteBox 
                                div.photo
                        div.col-lg-8.col-md-7
                            div.historyTextContainer.contentBox.whiteBox
                                p.historyText Born in the savannah bushland near Bulawayo, in what was then Southern Rhodesia, and the son of a cattle rancher, Conrad Gerber was raised in Africa. Trained in Economics and Comparative African Government & Law at the University of Cape Town, and in International Relations at the Graduate Institute of International Studies in Geneva, Mr. Gerber had previously been a foreign economics analyst for the Government of what is now Zimbabwe, reporting directly to the Prime Minister both before and after Independence. During his thirteen year tenure with the Rhodesian government, Mr. Gerber learned intimately about the oil industry by helping his country procure oil during a time of strict international sanctions. 
                                p.historyText In late 1980, he accepted an offer from an oil trader to transfer to Geneva and take up a new challenge: to perfect a new discipline in oil market analysis and crude/product monitoring – the art and science of tanker tracking with the aim of discovering what OPEC and other oil producers are 
                                    span.fat-text really doing 
                                    |as distinct to what they 
                                    span.fat-text say 
                                    |they are doing.
                                p.historyText Conrad Gerber remained the President of Petro-Logistics until his passing in 2009. The company continues to be managed by his two sons, with the core operating staff who have been working with the firm for over three decades. 
                                p.historyText Petro-Logistics has long-established representatives in Moscow, Mumbai, Vienna, Houston and London, with correspondents in key oil producing countries globally.
    section.historyFooter
        include footer
        