
extends layout
block content
    section.reqTrial
        div.container
            div.row
                div.col-lg-10.col-lg-offset-1.col-md-12.col-md-offset-0
                    h1.indexText Shedding light in hard to see corners of the oil market
                    h3.indexText With over 35 years' experience monitoring the world's major exporters, Petro-Logistics brings unprecedented clarity to otherwise opaque crude oil and refined product trade flows
                    a.btn.btn-default.req(href="/contact") request trial
            
        a(id="anchor1" href="#myAnchor", aria-hidden="true", rel="").glyphicon.glyphicon-menu-down.moveLink

    section.valuePoints
        a(name="myAnchor", id="myAnchor")
        div.container
            div.row.sectionHeader
                div.col-lg-6.col-lg-offset-3
                    h3 Petro-Logistics' Value Points
                    p Petro-Logistics is the world’s leading independent company measuring sea-borne petroleum trade with this level of detail and accuracy
            div.row.sectionContent 
                div.col-lg-3.col-md-3
                    div.circle
                        div.circleImg 
                    div.underCircleText Access to unique data from a long-established and robust global network of sources
                div.col-lg-3.col-md-3
                    div.circle
                        div.circleImg
                    div.underCircleText Experienced human verification ensures production of the highest quality data available to the market
                div.col-lg-3.col-md-3
                    div.circle
                        div.circleImg
                    div.underCircleText Weekly and monthly reports show granular statistics on export grades, destinations and lifters
                div.col-lg-3.col-md-3
                    div.circle
                        div.circleImg
                    div.underCircleText Real time API Data Feeds provide users with daily updates

    section.textInformation
      
        div.container
            div.row
                div.col-lg-10.col-lg-offset-1
                    p Oil market information is imperfect by nature. Port lineup reports often conflict and fixture lists are incomplete. AIS satellite data can only provide a tanker's current position, heading and draught, certainly not the quality of oil on board a tanker at any given time. 
                    p From its 35 years' monitoring crude oil and refined product trade flows, Petro-Logistics understands that the experienced human element is an essential part of providing accurate results.
                    p This is why every cargo loaded in Petro-Logistics' areas of coverage is individually verified at loading, throughout its voyage and at discharge. This meticulous verification ensures production of the highest quality data available to the market.

    section.client
            div.container
                div.row.sectionHeader
                    div.col-lg-6.col-lg-offset-3
                        h3 Clients of Petro-Logistics include:
                div.row.sectionContent 
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Major Oil Companies
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Independent Oil Companies
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText National Oil Companies
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Physical Oil Traders
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Oil Refiners
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Banks and Hedge Funds
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Shipping Companies
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Storage Companies
                    div.col-lg-4.col-md-4
                        div.circle
                            div.circleImg
                        div.underCircleText Investigative Firms
    include footer
