
extends layout
block content
    section.sovietHeader
        div.sovietImage
    section.countryReports
        div.container
            div.row
                div.col-lg-12.col-md-12.postMarkSectionWrap
                    div.row
                        div.col-lg-4.col-md-4.postmarkContainer
                            div.sovietMark
                        div.col-lg-8.col-md-8.countryTextContainer 
                            div.row.block-tile
                                div.col-lg-12.col-md-12
                                    div.top-tile
                                        h3.countryHeading Soviet Export Monitoring
                                        p.countryText Oil was the engine that kept the Soviet machine running. Even in the post Soviet era, Russia and several FSU states rely heavily on oil related income to furnish state coffers. Petro-Logistics offers a suite of products monitoring Russia and FSU states’ oil supply.
                            div.row.block-tile.bottom-tile
                                div.col-lg-12.col-md-12
                                    div.countryBtnContainer
                                        a.btn.btn-default.req(href="/contact") request sample report
    section.footerBlock               
        include footer
